{% extends "instructors/index.html" %}
{% load url from future %}
{% load i18n %}

{% block extra_scripts %}
    <script>
        $( document ).ready(function() {
            setNav('{% url 'cc_nav_instructors' %}');
            setContent('{% url 'instructor_home_page' %}');
            setAdvert('{% url 'advert' %}');
        });
    </script>
{% endblock %}

{% block page_class %}instructor_page cc_area{% endblock %}

{% block page_content_header %}
    <a href="{% url 'cc_home_instructors' %}">
        {% trans "curriculum consulting instructors" %}
    </a>
{% endblock %}
