{% load url from future %}
{% load i18n %}


<h2><a href="{{ url }}">{{ title }}</a></h2>
<div class="content">
    {% for item in class_list %}
        <div class="item">
            <div class="title">{{ item.course.name|truncatechars:16 }}</div>
            <div class="time">{{ item.start_time|date:"M d" }}-{{ item.end_time|date:"M d" }}</div>
            <div class="location">{{ item.location }}</div>
        </div>
    {% endfor %}
</div>
<div class="footer">
    <a href="{{ url }}">{% trans "more schedules" %}</a>
</div>