{% load url from future %}
{% load i18n %}

<div class="panel">
    <h2 class="schedule">{% trans 'upcoming schedules' %}</h2>
    <div class="content">
        {% for item in upcoming_class_list %}
        <div class="item">
            <div class="header">
                <hr /><span>{% trans "course code" %} {{ item.code }}</span>
            </div>
            <div class="content">
                <div class="title">{{ item.course.name }}</div>
                <div class="time">{{ item.start_time|date:"M d" }}-{{ item.end_time|date:"M d" }}</div>
                <!--<div class="location">{{ item.location.all|join:", " }}</div>-->
            <div class="location last-child">
                {% for location in item.location.all %}
                {% if location|stringformat:"s" == "Huacao" %}
                        {% trans "Huacao" %}
                    {% elif location|stringformat:"s" == "Jinqiao" %}
                        {% trans "Jinqiao" %}
                    {% elif location|stringformat:"s" == "Hongqiao" %}
                        {% trans "Hongqiao" %}
                    {% endif %}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>

                <div class="file">{% if item.schedule %}<a target="_blank" href="{{ item.schedule.url }}">Download PDF</a>{% endif %}</div>
            </div>
        </div>
        {% empty %}
            <div class="message">{{ none_message1|safe }}</div>
        {% endfor %}
    </div>
</div>
<div class="panel">
    <h2 class="schedule">{% trans 'current schedules' %}</h2>
    <div class="content">
        {% for item in current_class_list %}
        <div class="item">
            <div class="header">
                <hr /><span>{% trans "course code" %} {{ item.code }}</span>
            </div>
            <div class="content">
                <div class="title">{{ item.course.name }}</div>
                <div class="time">{{ item.start_time|date:"M d" }}-{{ item.end_time|date:"M d" }}</div>
                <div class="location">{{ item.location.all|join:", " }}</div>
                <div class="file">{% if item.schedule %}<a target="_blank" href="{{ item.schedule.url }}">Download PDF</a>{% endif %}</div>
            </div>
        </div>
        {% empty %}
            <div class="message">{{ none_message2|safe }}</div>
        {% endfor %}
    </div>
</div>
