{% load url from future %}
{% load i18n %}


<div class="page_nav">
    <div class="back_link">
        <a href="#" onclick="setContent( '{{ url }}?page={{ page_no }}{% if year %}&year={{ year }}{% endif %}{% if trimester %}&trimester={{ trimester }}{% endif %}' ); return false;">{% trans "back to list"%}</a>
    </div>
</div>
<h2>{{ item.title }}</h2>
{% if item.subtitle %}<h3>{{ item.subtitle }}</h3>{% endif %}
<div class="publication_date">{{ item.modified|date:"M d, Y" }}</div>
{% if item.created_by %}<div class="author_link">{% trans 'by' %} <a href="#" onclick="setContent('/blogs/authors/list', 'div.page_nav'); return false;">{{ item.created_by }}</a></div>{% endif %}
{% comment %}
{% if item.meta.picture %}
    <img src="{{ MEDIA_URL }}{{ item.meta.picture }}" />
{% endif %}
{% endcomment %}
<div class="description">
    {% autoescape off %}
        {{ item.description }}
    {% endautoescape%}
</div>
