{% load url from future %}
{% load i18n %}

<ul>
{% for year in year_list %}
    <li>
        <h3>
            {% if type == 'news' %}
                <a href="#" onclick="setNav('{% url 'news_navigation_year' year %}'); return false;">{{ year }}</a>
            {% elif type == 'blog' %}
                <a href="#" onclick="setNav('{% url 'blog_navigation_year' year %}'); return false;">{{ year }}</a>
            {% endif %}
            {% if expand|stringformat:"s" = year|stringformat:"s" %}
                <ul class="course_list">
                    {% for trimester in trimester_list %}
                        <li>
                            <h4>
                                {% if type == 'news' %}
                                    <a href="#" onclick="setActive(this); setContent('{% url 'news_list_year_tri' year trimester.0 %}'); setHeader('<a href=&quot;{% url "news_list" %}&quot;>{% trans "news" %}</a> > {{ year }} {{ trimester.1 }}'); return false;">{{ trimester.1 }}</a>
                                {% elif type == 'blog' %}
                                <a href="#" onclick="setActive(this); setContent('{% url 'blog_list_year_tri' year trimester.0 %}'); return false;">{{ trimester.1 }}</a>
                                {% endif %}
                            </h4>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </h3>
    </li>
{% endfor %}
</ul>
