{% load url from future %}
{% load i18n %}

{% if title %}<h2><a href="{% url 'aboutus_page' 'testimonials' %}">{{ title }}</a></h2>{% endif %}
<ul class="{{ type }}">
    {% for item in list %}
        <li><div class="item">
            {% if item.picture %}
                <img src="{{ MEDIA_URL }}{{ item.picture }}" />
            {% elif item.meta.picture %}
                <img src="{{ MEDIA_URL }}{{ item.meta.picture }}" />
            {% endif %}
            
            {% if item.title %}<h2>{{ item.title }}</h2>{% endif %}
            
            <div class="description">
                {{ item.exerpt|safe }}
            </div>
            <div class="clearfix"></div>
            <div class="footer">
                {% if item.created_by %}
                    {{ item.created_by|safe }}
                {% endif %}
            </div>
        </div></li>
    {% empty %}
        {{ none_message }}        
    {% endfor %}
</ul>
<div class="footer">
    <a href="{% url 'aboutus_page' 'testimonials' %}">{% trans "more testimonials" %}</a>
</div>
