{% extends "room.html" %}
{% load url from future %}
{% load i18n %}

{% block extra_scripts %}
    <script>
        $( document ).ready(function() {
            setContent("{% url 'location_home_page' %}");
        });
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        function mapsLoaded() {
          directionsDisplay = new google.maps.DirectionsRenderer();
          var chicago = new google.maps.LatLng(31.2000, 121.5000);
          var mapOptions = {
            zoom:15,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: chicago
          }
          map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
          directionsDisplay.setMap(map);
        }
        function loadMaps(){
            google.load("maps", "3", {"callback" : mapsLoaded,"language" : "{{ LANGUAGE_CODE }}",  "other_params" : "sensor=false"});
        }
      </script>
{% endblock %}

{% block page_class %}location_page neutral_area{% endblock %}

{% block tab5_class %}active content{% endblock %}

{% block page_content_header %}
    <a href="{% url 'location_home' %}">{% trans "our locations" %}</a>
{% endblock %}

{% block left_bar %}
    <div class="content">
    <ul>
    {% for location in object_list %}
        <li>
            <h3>
                <a href="#" onclick="setActive(this); setContent('{% url 'location_details' location.pk %}'); setHeader('<a href=&quot;{% url 'location_home' %}&quot;>{% trans "our locations" %}</a><div class=&quot;divider&quot;></div>{{ location.name }}'); return false;">{{ location.name }}</a>
            </h3>
        </li>
    {% endfor %}
    </ul>
    </div>  
    <div class="image">
        {% if left_nav_image %}
            <img src="{{ MEDIA_URL }}{{ left_nav_image.picture }}" alt="{{ left_nav_image.name }}">
        {% endif %}
    </div>
{% endblock %}

{% block main_pane %}
    <div id="content">
    
    </div>
{% endblock %}
