{% extends "room.html" %}
{% load url from future %}
{% load i18n %}

{% block extra_scripts %}
    <script>
        $( document ).ready(function() {
            setContent("{% url 'location_home_page' %}");
        });
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        var directionsDisplay,map, directionsService, cityRequested,
        hpSchools = { hongqiao: [31.188978,121.396372], huacao: [31.207461,121.281991], jinqiao: [31.243329,121.586229] };
        function mapsLoaded() {
          directionsDisplay = new google.maps.DirectionsRenderer();
          directionsService = new google.maps.DirectionsService();
          cityRequested = $('a.active').text().toLowerCase();
          school = new google.maps.LatLng(hpSchools[cityRequested][0], hpSchools[cityRequested][1]);
          var mapOptions = {
            zoom:15,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: school
          }
          map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
          var marker = new google.maps.Marker({ 
                position: school,
                map: map,
                title: 'horizons'
          });
          directionsDisplay.setMap(map);
            $('button.get-directions, submit').click(function(e){
                e.preventDefault();
                calcRoute();
            });
        }
        function loadMaps(){
            google.load("maps", "3", {"callback" : mapsLoaded, "other_params" : "sensor=false&language={{ LANGUAGE_CODE }}"});
        }
        function calcRoute() {
            var start = $('#start').val();
            var request = {
                origin: start,
                destination: hpSchools[cityRequested],
                travelMode: google.maps.DirectionsTravelMode.DRIVING
            };
            directionsService.route(request, function(response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                }
            });
        }
      </script>
{% endblock %}

{% block page_class %}location_page neutral_area{% endblock %}

{% block tab5_class %}active content{% endblock %}

{% block page_content_header %}
    <a href="{% url 'location_home' %}">{% trans "our locations" %}</a>
{% endblock %}

{% block left_bar %}
    <div class="content">
    <ul>
    {% for location in object_list %}
        <li>
            <h3>
                <a href="#" onclick="setActive(this); setContent('{% url 'location_details' location.pk %}'); setHeader('<a href=&quot;{% url 'location_home' %}&quot;>{% trans "our locations" %}</a><div class=&quot;divider&quot;></div>{{ location.name }}'); return false;">{{ location.name }}</a>
            </h3>
        </li>
    {% endfor %}
    </ul>
    </div>  
    <div class="image">
        {% if left_nav_image %}
            <img src="{{ MEDIA_URL }}{{ left_nav_image.picture }}" alt="{{ left_nav_image.name }}">
        {% endif %}
    </div>
{% endblock %}

{% block main_pane %}
    <div id="content">
    
    </div>
{% endblock %}
