@font-face {
  font-family: Handwriting-Dakota;
  src: url("Handwriting - Dakota"); }

/**********************************************************************************************/
/***  Variables                                                                             ***/
/**********************************************************************************************/
/* Colour Names and Codes */
/* Part names and Colours */
/* Measurements */
/* Effects */
/**********************************************************************************************/
/***  Styling for basic HTML tags                                                           ***/
/**********************************************************************************************/
html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  font-family: 'Myriad Pro', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-transform: capitalize;
  margin: 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: normal;
    text-transform: capitalize;
    margin: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.window {
  min-height: 100%;
  position: relative; }

.site_outer {
  background-color: inherit;
  width: 100%; }

.site_inner {
  width: 960px;
  margin: 0 auto;
  background-color: inherit; }

a {
  cursor: pointer;
  cursor: hand; }
  a:link {
    text-decoration: none; }
  a:visited {
    text-decoration: none; }
  a:hover {
    text-decoration: underline; }

button {
  cursor: pointer;
  cursor: hand;
  -moz-box-shadow: 2px 2px 5px #444444;
  -webkit-box-shadow: 2px 2px 5px #444444;
  box-shadow: 2px 2px 5px #444444; }

table, td {
  border: 0;
  margin: 0;
  padding: 0;
  border-spacing: 0; }

p {
  margin: 0; }

/**********************************************************************************************/
/***  Styling for basic repeating elements                                                  ***/
/**********************************************************************************************/
.image {
  background-color: transparent;
  background-repeat: no-repeat; }

.tab {
  float: left; }

img.icon {
  max-height: 16px;
  max-width: 16px; }

.star {
  margin-left: 0;
  margin-right: 0;
  color: red; }
  .star:before {
    content: '*'; }

.errorlist {
  color: red; }

/**********************************************************************************************/
/***  Header                                                                                ***/
/**********************************************************************************************/
.page_header {
  width: 100%; }
  .page_header .banner {
    width: 100%;
    height: 60px;
    background-color: white;
    position: relative;
    padding-top: 10px; }
    .page_header .banner #moto {
      font-style: italic;
      font-size: 1.0em;
      position: absolute;
      bottom: 0;
      left: 20px;
      color: #202f5f; }
    .page_header .banner img {
      float: right; }

#mainnav_outer_wrapper {
  background-color: #d27d34; }

#main_navigation .lang_links {
  float: right; }
  #main_navigation .lang_links form {
    float: left;
    padding: 3px 0 3px 20px; }
  #main_navigation .lang_links img {
    -moz-box-shadow: 2px 2px 5px #444444;
    -webkit-box-shadow: 2px 2px 5px #444444;
    box-shadow: 2px 2px 5px #444444;
    height: 16px; }
  #main_navigation .lang_links .current {
    border: 1px solid white; }

#main_navigation {
  background-color: inherit; }

#main_navigation > ul {
  margin: 10px 0 16px;
  padding: 0 10px;
  height: 25px;
  color: white; }
  #main_navigation > ul a {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: white;
    background-color: #d27d34; }
    #main_navigation > ul a:hover {
      text-decoration: none; }
  #main_navigation > ul h2 {
    font-size: 0.8em;
    padding: 0 25px;
    display: inline; }
  #main_navigation > ul h3 {
    color: white;
    font-size: 0.8em; }
  #main_navigation > ul .tab {
    margin: 0;
    padding: 3px 0; }
  #main_navigation > ul > li {
    float: left;
    position: relative;
    z-index: 9;
    border-left: 1px solid white; }
    #main_navigation > ul > li .dropdown {
      padding-top: 4px; }
  #main_navigation > ul > li:last-child {
    border-right: 1px solid white; }
  #main_navigation > ul ul {
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    -moz-box-shadow: 2px 2px 5px #444444;
    -webkit-box-shadow: 2px 2px 5px #444444;
    box-shadow: 2px 2px 5px #444444;
    min-width: 100%;
    border: 1px solid #d27d34;
    border-top: none;
    padding: 8px 4px;
    background: white;
    /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    list-style: none;
    position: absolute;
    left: -999em;
    /* Hide off-screen when not needed (this is more accessible than display:none;) */ }
    #main_navigation > ul ul li {
      float: none;
      padding: 0 5px;
      min-width: 110px; }
    #main_navigation > ul ul a {
      display: block;
      white-space: nowrap;
      /* Stop text wrapping and creating multi-line dropdown items */
      padding: 5px;
      color: #d27d34;
      background-color: white; }
    #main_navigation > ul ul a:hover {
      color: white;
      background-color: #d27d34;
      text-decoration: none; }
  #main_navigation > ul li:hover ul {
    /* Display the dropdown on hover */
    left: auto;
    /* Bring back on-screen when needed */ }

/**********************************************************************************************/
/***  Banner                                                                                ***/
/**********************************************************************************************/
#slider #controls a {
  text-decoration: none;
  background: #E3F1FA;
  border: 1px solid #C6E4F2;
  padding: 4px 6px;
  color: #222; }
#slider #controls a:hover {
  background: #C6E4F2; }
#slider .nivo-caption {
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter: alpha(opacity=0.9);
  font-size: 0.85em;
  font-weight: 600;
  font-style: oblique;
  color: #202f5f;
  background: white;
  width: 380px;
  margin-bottom: 20px;
  padding: 20px; }

/**********************************************************************************************/
/***  Content                                                                               ***/
/**********************************************************************************************/
.page_content {
  position: relative;
  color: #3c3c37;
  width: 100%;
  padding: 16px 0; }
  .page_content .message {
    font-size: 0.8em;
    margin-left: 15px; }
    .page_content .message a, .page_content .message strong {
      color: #d27d34; }
    .page_content .message em {
      font-weight: 600; }
    .page_content .message p {
      display: block; }

/* Content Header */
.page_content_header {
  height: 30px;
  width: 940px;
  padding: 14px 0 0 20px;
  margin-bottom: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: capitalize;
  color: white;
  background-color: #d27d34; }
  .page_content_header a:link, .page_content_header a:visited {
    color: white;
    display: block;
    float: left; }
  .page_content_header .divider {
    padding: 0 15px;
    float: left; }
    .page_content_header .divider:before {
      content: ">"; }

/* Mini Panels */
.panel {
  float: left;
  position: relative;
  margin-bottom: 10px; }
  .panel div, .panel div a {
    color: #202f5f; }
  .panel h2 {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 0 3px 10px;
    font-size: 0.8em;
    color: white;
    background-color: #202f5f; }
    .panel h2 a {
      color: white; }
  .panel table {
    width: 100%; }
  .panel .item {
    position: relative;
    font-size: 0.8em;
    color: #202f5f; }
  .panel .footer {
    font-size: 0.8em;
    text-align: right;
    text-transform: capitalize; }
  .panel > .footer, .panel > .footer a {
    font-weight: bold; }

.schedule .item {
  background-color: #d5d5d5;
  height: 14px;
  padding: 7px; }
  .schedule .item > div {
    float: left; }
  .schedule .item .last-child {
    float: right; }
  .schedule .item + .item {
    border-top: 1px solid; }
.schedule .item:nth-child(even) {
  background: #f2f2f6 !important; }

#relatedlinks_panel .item {
  padding: 12px 0 8px 12px; }
#relatedlinks_panel .item:nth-child(even) {
  background-color: #d5d5d5; }

/* Content Pagination */
.page_nav {
  position: relative; }

.page_number_list, .page_number_list a, .previous_page, .previous_page a, .next_page, .next_page a, .back_link, .back_link a {
  color: #d27d34;
  text-transform: capitalize;
  padding: 0.7em 0;
  font-size: 0.9em;
  font-weight: 600; }
  .page_number_list .current, .page_number_list a .current, .previous_page .current, .previous_page a .current, .next_page .current, .next_page a .current, .back_link .current, .back_link a .current {
    text-decoration: underline; }

.author_link, .author_link a {
  color: #d27d34;
  font-size: 12px;
  font-style: italic; }

.page_number_list span:before, .page_number_list a:before {
  content: "- "; }

.page_number_list span:first-child:before, .page_number_list a:first-child:before {
  content: ""; }

.page_category_list {
  font-size: 0.8em;
  font-weight: bold; }
  .page_category_list span.current {
    text-decoration: underline; }
  .page_category_list a, .page_category_list span {
    padding: 0 11px; }

.previous_page, .next_page {
  position: absolute;
  font-size: 0.8em; }

.previous_page {
  right: 120px; }

.next_page {
  right: 20px; }

.previous_page:before, .back_link:before {
  content: "< "; }

.next_page:after {
  content: " >"; }

/**********************************************************************************************/
/***  Area-Specific Styles                                                                  ***/
/**********************************************************************************************/
.la_area .page_category_list {
  background: #1a92cf; }
.la_area .page_content_header {
  background-color: #1a92cf; }
.la_area #main_pane h2 {
  color: #1a92cf; }
.la_area #main_pane .schedule h2 {
  background-color: #1a92cf; }
.la_area #left_bar h2, .la_area #left_bar h2 a, .la_area #left_bar h3, .la_area #left_bar h3 a {
  color: #1a92cf; }
.la_area table hr {
  color: #1a92cf;
  background-color: #1a92cf; }
.la_area table .file a {
  color: #1a92cf; }
.la_area #left_bar .content {
  border: 1px solid #1a92cf;
  background-color: #daedfe; }
.la_area #left_bar li {
  border-top: 1px solid #1a92cf; }
  .la_area #left_bar li a:hover, .la_area #left_bar li a.active {
    color: white;
    background-color: #1a92cf; }
.la_area #left_bar li:first-child {
  border-top: none; }
.la_area #left_bar ul ul li {
  border: none; }
.la_area #right_bar .schedule .page_category_list a {
  color: #fff;
  float: left;
  width: 32px;
  padding: 7px 8px;
  text-align: center;
  background: #1a92cf; }
.la_area #right_bar .schedule .page_category_list span {
  float: left;
  width: 32px;
  text-align: center;
  padding: 7px 8px;
  background: #d5d5d5; }
.la_area #right_bar .schedule .page_category_list span:first-child {
  border-left: none; }
.la_area #right_bar .schedule a {
  color: #1a92cf; }
.la_area #right_bar .schedule .content {
  clear: both; }
.la_area button.contact, .la_area button.register {
  background-color: #1a92cf; }
.la_area h2.schedule {
  background-color: #1a92cf; }

.tp_area .page_category_list {
  background: #48834c; }
.tp_area .page_content_header {
  background-color: #48834c; }
.tp_area #main_pane h2 {
  color: #48834c; }
.tp_area #main_pane .schedule h2 {
  background-color: #48834c; }
.tp_area #left_bar h2, .tp_area #left_bar h2 a, .tp_area #left_bar h3, .tp_area #left_bar h3 a {
  color: #48834c; }
.tp_area table hr {
  color: #48834c;
  background-color: #48834c; }
.tp_area table .file a {
  color: #48834c; }
.tp_area #left_bar .content {
  border: 1px solid #48834c;
  background-color: #ecfee5; }
.tp_area #left_bar li {
  border-top: 1px solid #48834c; }
  .tp_area #left_bar li a:hover, .tp_area #left_bar li a.active {
    color: white;
    background-color: #48834c; }
.tp_area #left_bar li:first-child {
  border-top: none; }
.tp_area #left_bar ul ul li {
  border: none; }
.tp_area #right_bar .schedule .page_category_list a {
  color: #fff;
  float: left;
  width: 50%;
  padding: 7px 6px;
  text-align: center;
  background: #48834c; }
.tp_area #right_bar .schedule .page_category_list span {
  float: left;
  width: 38.2%;
  text-align: center;
  padding: 7px 8px;
  background: #d5d5d5; }
.tp_area #right_bar .schedule .page_category_list span:first-child {
  border-left: none; }
.tp_area #right_bar .schedule a {
  color: #48834c; }
.tp_area #right_bar .schedule .content {
  clear: both; }
.tp_area button.contact, .tp_area button.register {
  background-color: #48834c; }
.tp_area h2.schedule {
  background-color: #48834c; }

.cc_area .page_category_list {
  background: #b66685; }
.cc_area .page_content_header {
  background-color: #b66685; }
.cc_area #main_pane h2 {
  color: #b66685; }
.cc_area #main_pane .schedule h2 {
  background-color: #b66685; }
.cc_area #left_bar h2, .cc_area #left_bar h2 a, .cc_area #left_bar h3, .cc_area #left_bar h3 a {
  color: #b66685; }
.cc_area table hr {
  color: #b66685;
  background-color: #b66685; }
.cc_area table .file a {
  color: #b66685; }
.cc_area #left_bar .content {
  border: 1px solid #b66685;
  background-color: #e8d9de; }
.cc_area #left_bar li {
  border-top: 1px solid #b66685; }
  .cc_area #left_bar li a:hover, .cc_area #left_bar li a.active {
    color: white;
    background-color: #b66685; }
.cc_area #left_bar li:first-child {
  border-top: none; }
.cc_area #left_bar ul ul li {
  border: none; }
.cc_area #right_bar .schedule .page_category_list a {
  color: #fff;
  float: left;
  width: 50%;
  padding: 7px 6px;
  text-align: center;
  background: #b66685; }
.cc_area #right_bar .schedule .page_category_list span {
  float: left;
  width: 38.2%;
  text-align: center;
  padding: 7px 8px;
  background: #d5d5d5; }
.cc_area #right_bar .schedule .page_category_list span:first-child {
  border-left: none; }
.cc_area #right_bar .schedule a {
  color: #b66685; }
.cc_area #right_bar .schedule .content {
  clear: both; }
.cc_area button.contact, .cc_area button.register {
  background-color: #b66685; }
.cc_area h2.schedule {
  background-color: #b66685; }

.ac_area .page_category_list {
  display: none; }
.ac_area .page_content_header {
  background-color: #95b638; }
.ac_area #main_pane h2 {
  color: #95b638; }
.ac_area #main_pane .schedule h2 {
  background-color: #95b638; }
.ac_area #left_bar h2, .ac_area #left_bar h2 a, .ac_area #left_bar h3, .ac_area #left_bar h3 a {
  color: #95b638; }
.ac_area table hr {
  color: #95b638;
  background-color: #95b638; }
.ac_area table .file a {
  color: #95b638; }
.ac_area #left_bar .content {
  border: 1px solid #95b638;
  background-color: #e3fc9a; }
.ac_area #left_bar li {
  border-top: 1px solid #95b638; }
  .ac_area #left_bar li a:hover, .ac_area #left_bar li a.active {
    color: white;
    background-color: #95b638; }
.ac_area #left_bar li:first-child {
  border-top: none; }
.ac_area #left_bar ul ul li {
  border: none; }
.ac_area #right_bar .schedule .page_category_list a {
  color: #fff;
  float: left;
  width: 32px;
  padding: 7px 8px;
  text-align: center;
  background: #95b638; }
.ac_area #right_bar .schedule .page_category_list span {
  float: left;
  width: 32px;
  text-align: center;
  padding: 7px 8px;
  background: #d5d5d5; }
.ac_area #right_bar .schedule .page_category_list span:first-child {
  border-left: none; }
.ac_area #right_bar .schedule a {
  color: #95b638; }
.ac_area #right_bar .schedule .content {
  clear: both; }
.ac_area button.contact, .ac_area button.register {
  background-color: #95b638; }
.ac_area h2.schedule {
  background-color: #95b638; }

.neutral_area .page_category_list {
  background: #d27d34; }
.neutral_area .page_content_header {
  background-color: #d27d34; }
.neutral_area #main_pane h2 {
  color: #d27d34; }
.neutral_area #main_pane .schedule h2 {
  background-color: #d27d34; }
.neutral_area #left_bar h2, .neutral_area #left_bar h2 a, .neutral_area #left_bar h3, .neutral_area #left_bar h3 a {
  color: #d27d34; }
.neutral_area table hr {
  color: #d27d34;
  background-color: #d27d34; }
.neutral_area table .file a {
  color: #d27d34; }
.neutral_area #left_bar .content {
  border: 1px solid #d27d34;
  background-color: #fedac1; }
.neutral_area #left_bar li {
  border-top: 1px solid #d27d34; }
  .neutral_area #left_bar li a:hover, .neutral_area #left_bar li a.active {
    color: white;
    background-color: #d27d34; }
.neutral_area #left_bar li:first-child {
  border-top: none; }
.neutral_area #left_bar ul ul li {
  border: none; }
.neutral_area #right_bar .schedule .page_category_list a {
  color: #fff;
  float: left;
  width: 50%;
  padding: 7px 6px;
  text-align: center;
  background: #d27d34; }
.neutral_area #right_bar .schedule .page_category_list span {
  float: left;
  width: 38.2%;
  text-align: center;
  padding: 7px 8px;
  background: #d5d5d5; }
.neutral_area #right_bar .schedule .page_category_list span:first-child {
  border-left: none; }
.neutral_area #right_bar .schedule a {
  color: #d27d34; }
.neutral_area #right_bar .schedule .content {
  clear: both; }
.neutral_area button.contact, .neutral_area button.register {
  background-color: #d27d34; }
.neutral_area h2.schedule {
  background-color: #d27d34; }
.neutral_area #main_pane h2, .neutral_area #main_pane h3, .neutral_area #main_pane .description {
  color: #202f5f; }

/* Main Pane */
#main_pane {
  width: 485px;
  margin: 0 20px;
  float: left; }
  #main_pane h2, #main_pane h2 a {
    text-transform: capitalize;
    font-size: 1em;
    padding-top: 0.6em;
    margin-bottom: 0.8em; }
  #main_pane h3, #main_pane h3 a {
    text-transform: none;
    width: 100%;
    font-size: 1.0em;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 8px;
    margin-bottom: 8px; }
  #main_pane button.contact, #main_pane button.register {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-top: 30px;
    width: 140px;
    height: 20px;
    border: none;
    font-size: 0.8em;
    color: white;
    text-transform: capitalize; }
  #main_pane button.contact {
    margin-left: 10px; }
  #main_pane button.register {
    margin-left: 50px; }
  #main_pane .item {
    margin-bottom: 30px; }

#content > ul > li {
  margin-bottom: 30px; }
#content td.left {
  width: 130px; }
  #content td.left img {
    margin: 0;
    max-width: 110px; }
#content .description, #content .wide-desc, #content .directions {
  padding-top: 8px; }
  #content .description a:link, #content .description a:visited, #content .wide-desc a:link, #content .wide-desc a:visited, #content .directions a:link, #content .directions a:visited {
    color: #d27d34; }
  #content .description p, #content .wide-desc p, #content .directions p {
    font-size: 0.8em;
    line-height: 18px; }
  #content .description ul, #content .wide-desc ul, #content .directions ul {
    list-style-position: outside;
    margin-left: 20px;
    list-style-type: disc; }
  #content .description li, #content .wide-desc li, #content .directions li {
    font-size: 0.8em;
    text-align: left;
    line-height: 20px; }
#content .exerpt, #content .weblinks {
  font-size: 0.8em; }

#map-canvas img {
  max-width: none !important; }
#map-canvas label {
  width: auto !important;
  display: inline !important; }
#map-canvas .gm-style img {
  max-width: none; }
#map-canvas .gm-style label {
  width: auto;
  display: inline; }

.portals {
  width: 970px;
  padding-bottom: 16px; }
  .portals img {
    width: 73px;
    margin: 0 0 0 10px;
    float: right; }
  .portals .portal_panel {
    float: left;
    width: 230px;
    margin-right: 12px; }
    .portals .portal_panel .header {
      -moz-box-shadow: 2px 2px 5px #444444;
      -webkit-box-shadow: 2px 2px 5px #444444;
      box-shadow: 2px 2px 5px #444444;
      height: 22px;
      color: white;
      padding: 8px 0 0 10px;
      margin-bottom: 14px;
      text-transform: capitalize; }
    .portals .portal_panel .content {
      -moz-box-shadow: 2px 2px 5px #444444;
      -webkit-box-shadow: 2px 2px 5px #444444;
      box-shadow: 2px 2px 5px #444444;
      min-height: 110px;
      font-size: 0.825em;
      #font-style: italic;
      padding: 15px 10px; }
      .portals .portal_panel .content .text {
        width: 166px; }
    .portals .portal_panel .footer {
      text-align: right;
      padding-top: 8px;
      padding-right: 10px;
      text-transform: capitalize; }
  .portals a:first-child .portal_panel .header {
    -moz-border-radius: 10px 0 0 0;
    -webkit-border-radius: 10px 0 0 0;
    border-radius: 10px 0 0 0; }
  .portals a:first-child .portal_panel .content {
    -moz-border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
    border-radius: 0 0 0 10px; }
  .portals a:nth-child(4) .portal_panel .header {
    -moz-border-radius: 0 10px 0 0;
    -webkit-border-radius: 0 10px 0 0;
    border-radius: 0 10px 0 0; }
  .portals a:nth-child(4) .portal_panel .content {
    -moz-border-radius: 0 0 10px 0;
    -webkit-border-radius: 0 0 10px 0;
    border-radius: 0 0 10px 0; }
  .portals #la .header {
    background-color: #1a92cf;
    border: 1px solid #1a92cf; }
  .portals #la .content, .portals #la .footer {
    color: #1a92cf; }
  .portals #la .content {
    border: 1px solid #1a92cf; }
  .portals #ac .header {
    background-color: #95b638;
    border: 1px solid #95b638; }
  .portals #ac .content, .portals #ac .footer {
    color: #95b638; }
  .portals #ac .content {
    border: 1px solid #95b638; }
  .portals #tp .header {
    background-color: #48834c;
    border: 1px solid #48834c; }
  .portals #tp .content, .portals #tp .footer {
    color: #48834c; }
  .portals #tp .content {
    border: 1px solid #48834c; }
  .portals #cc .header {
    background-color: #b66685;
    border: 1px solid #b66685; }
  .portals #cc .content, .portals #cc .footer {
    color: #b66685; }
  .portals #cc .content {
    border: 1px solid #b66685; }
  .portals a:hover {
    text-decoration: none; }
    .portals a:hover #la .content {
      background-color: #daedfe; }
    .portals a:hover #tp .content {
      background-color: #ecfee5; }
    .portals a:hover #cc .content {
      background-color: #e8d9de; }
    .portals a:hover #ac .content {
      background-color: #e3fc9a; }

/* Left Sidebar */
#left_bar {
  width: 195px;
  float: left; }
  #left_bar h2, #left_bar h3 {
    padding: 6px 0; }
    #left_bar h2 a, #left_bar h2 span, #left_bar h3 a, #left_bar h3 span {
      padding: 6px 2px 4px 8px;
      font-size: 0.9em;
      font-weight: 600;
      display: block; }
  #left_bar h2 {
    font-size: 1.1em;
    font-weight: 700; }
  #left_bar h3 {
    font-size: 0.9em;
    font-weight: 600; }
  #left_bar > .content {
    margin-bottom: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; }
  #left_bar ul {
    margin: 0 10px; }
    #left_bar ul ul {
      margin: 0 0 0 10px; }
  #left_bar li a:hover, #left_bar li a.active {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none; }
  #left_bar li li {
    padding: 0; }
  #left_bar #advert_space {
    margin-bottom: 20px; }
    #left_bar #advert_space img {
      width: 195px; }
  #left_bar .image {
    text-align: center; }
    #left_bar .image img {
      max-width: 195px; }

/* Right Sidebar */
#right_bar {
  width: 240px;
  float: left; }
  #right_bar .panel {
    width: 240px;
    font-size: 0.85em; }
    #right_bar .panel h2 {
      font-size: 0.9em; }
  #right_bar .schedule .item {
    height: 28px; }
  #right_bar .schedule .title {
    width: 100%; }
  #right_bar #advert_space {
    padding-top: 10px; }
    #right_bar #advert_space img {
      width: 240px; }

/**********************************************************************************************/
/***  Footer                                                                                ***/
/**********************************************************************************************/
#page_outer_wrapper {
  padding-bottom: 300px; }

#footer_gradient_outer_wrapper, #footer_gradient_outer_wrapper {
  background-image: linear-gradient(bottom, #202f5f 0%, #222222 100%);
  background-image: -o-linear-gradient(bottom, #202f5f 0%, #222222 100%);
  background-image: -moz-linear-gradient(bottom, #202f5f 0%, #222222 100%);
  background-image: -webkit-linear-gradient(bottom, #202f5f, 0%, #222222, 100%);
  background-image: -ms-linear-gradient(bottom, #202f5f 0%, #222222 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #202f5f), color-stop(100%, #222222)); }

#footer_gradient_outer_wrapper {
  position: absolute;
  bottom: 200px; }

#footer_gradient_inner_wrapper {
  height: 20px; }

#footer_outer_wrapper {
  position: absolute;
  bottom: 0;
  background-color: #202f5f; }

.page_footer {
  position: relative;
  height: 150px;
  width: 88%;
  padding: 20px 3% 30px;
  background-color: #202f5f;
  color: white;
  font-size: 0.8em; }
  .page_footer a:link, .page_footer a:visited {
    color: white; }
  .page_footer .contact_info {
    float: left;
    width: 150px; }
    .page_footer .contact_info .phone, .page_footer .contact_info .e-address {
      margin-top: 10px; }
  .page_footer .section {
    float: left;
    margin: 20px 0 0 65px; }
  .page_footer .divider {
    float: left;
    height: 130px;
    border-right: 1px solid white;
    width: 30px;
    margin-right: 0px; }
  .page_footer h3 {
    font-size: 1em;
    font-weight: bold; }
  .page_footer ul {
    margin-left: 20px; }
  .page_footer li {
    padding-top: 8px;
    text-transform: capitalize; }
  .page_footer .copyrights {
    position: absolute;
    right: 0;
    bottom: 30px; }

/**********************************************************************************************/
/***  Page-Specific Styles                                                                  ***/
/**********************************************************************************************/
.newsandevents_page #main_pane, .blog_page #main_pane, .instructor_page #main_pane {
  width: 708px; }
.newsandevents_page #right_bar, .blog_page #right_bar, .instructor_page #right_bar {
  display: none; }

.home_page .panel {
  width: 306px;
  height: 326px; }
  .home_page .panel > ul + .footer {
    position: absolute;
    bottom: 0;
    right: 0; }
.home_page .testimonial ul {
  height: 223px;
  display: table;
  overflow: hidden;
  padding: 0 10px; }
.home_page .testimonial li {
  display: table-cell;
  vertical-align: middle; }
.home_page .testimonial .footer {
  position: relative;
  text-align: right;
  font-size: 0.8em;
  font-weight: bold; }
.home_page .testimonial .description {
  line-height: 1.6em;
  font-size: 1.1em; }
.home_page .testimonial .item .footer {
  font-size: 0.9em; }
.home_page .news img {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 90px;
  float: left;
  margin-right: 10px; }
.home_page .news ul {
  height: 250px; }
.home_page .news li {
  position: relative;
  margin: 10px 5px 35px 5px;
  height: 96px; }
  .home_page .news li h2 {
    color: #202f5f;
    background-color: white;
    font-weight: 600; }
    .home_page .news li h2 a {
      padding: 0;
      color: #202f5f;
      background-color: white;
      font-size: 1em;
      font-weight: 600; }
  .home_page .news li .description {
    font-size: 0.8em;
    line-height: 1.3em; }
.home_page .bottom > div:first-child, .home_page .bottom > div:nth-child(2) {
  margin-right: 20px; }
.home_page .schedule {
  padding: 0 10px; }
  .home_page .schedule .item {
    height: auto;
    padding: 3px 6px; }
  .home_page .schedule .item:nth-child(even) {
    background: #f2f2f6 !important; }
  .home_page .schedule h2 {
    padding: 5px 0 3px 0;
    color: #202f5f;
    background-color: inherit;
    font-weight: bold; }
    .home_page .schedule h2 a {
      padding: 0;
      color: #202f5f;
      background-color: inherit;
      font-size: 1em;
      font-weight: bold; }
  .home_page .schedule .content .title {
    width: 100%;
    font-size: 11px;
    font-weight: bold; }
  .home_page .schedule .content .time, .home_page .schedule .content .location {
    font-size: 75%; }
  .home_page .schedule .content .location {
    float: right; }
  .home_page .schedule .footer {
    font-weight: bold;
    padding: 10px 0 0 0; }
.home_page .content > .schedule + .schedule .footer {
  position: absolute;
  bottom: 0;
  right: 10px;
  padding-top: 0; }

.schedule_page #content {
  font-size: 1.0em; }
  .schedule_page #content .panel {
    width: 100%;
    padding-bottom: 20px; }
  .schedule_page #content .content {
    padding-bottom: 10px;
    padding-top: 6px;
    width: 100%; }
    .schedule_page #content .content .header {
      height: 24px;
      position: relative; }
    .schedule_page #content .content hr {
      float: left;
      width: 100%;
      height: 1px;
      border: 0; }
    .schedule_page #content .content span {
      position: absolute;
      left: 50px;
      background-color: white;
      padding: 0 10px;
      text-transform: capitalize; }
    .schedule_page #content .content .content div {
      float: left; }
    .schedule_page #content .content .content .title {
      width: 240px; }
    .schedule_page #content .content .content .time {
      width: 150px; }
    .schedule_page #content .content .content .location {
      width: 110px; }
  .schedule_page #content .panel h2 {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 8px 3px;
    color: white;
    font-size: 0.9em;
    margin-top: 0; }
  .schedule_page #content h3 {
    color: #202f5f; }

.instructor_page #main_pane {
  width: 708px; }
  .instructor_page #main_pane li h2 {
    padding-top: 0; }
  .instructor_page #main_pane .person_name span:first-child {
    text-transform: capitalize; }
  .instructor_page #main_pane .message {
    padding-top: 1em; }
.instructor_page ul.courses {
  padding-top: 20px;
  padding-left: 20px;
  list-style: disc;
  color: #d27d34; }
  .instructor_page ul.courses a {
    color: #d27d34; }
  .instructor_page ul.courses li {
    float: left;
    height: 32px;
    width: 170px;
    padding: 0 20px 6px 0;
    font-size: 0.8em; }

.course_page .skills {
  font-family: Handwriting-Dakota;
  color: #202f5f;
  float: right;
  width: 132px;
  text-transform: capitalize; }
  .course_page .skills .top {
    height: 20px;
    background: url("../img/nh_illnotepad_top.png") no-repeat 0 0;
    text-align: center;
    font-size: 28px;
    padding: 22px 0 13px; }
  .course_page .skills .center {
    padding: 3px 0 0 28px;
    background: url("../img/nh_illnotepad_cntr.png") repeat-y 0 0; }
  .course_page .skills .bottom {
    padding-top: 20px;
    height: 30px;
    background: url("../img/nh_illnotepad_btm.png") no-repeat 0 0; }
  .course_page .skills ul {
    list-style: disc;
    list-style-position: outside;
    font-size: 0.75em;
    line-height: 12px; }
    .course_page .skills ul li {
      padding-top: 5px;
      width: 90px; }
.course_page #main_pane #content .description {
  padding-top: 4px; }
.course_page #main_pane #content li.course {
  margin-bottom: 70px; }
  .course_page #main_pane #content li.course .description {
    width: 350px; }
  .course_page #main_pane #content li.course .wide {
    width: 530; }
.course_page #main_pane #content .message {
  padding-top: 30px; }
.course_page .weblinks {
  padding-top: 15px; }
  .course_page .weblinks li {
    margin: 0; }

.newsandevents_page .source, .blog_page .source, .aboutus_page .source {
  float: left;
  padding-right: 30px; }
.newsandevents_page .source, .newsandevents_page .publication_date, .newsandevents_page .footer a, .blog_page .source, .blog_page .publication_date, .blog_page .footer a, .aboutus_page .source, .aboutus_page .publication_date, .aboutus_page .footer a {
  color: #d27d34; }
.newsandevents_page .source, .newsandevents_page .publication_date, .blog_page .source, .blog_page .publication_date, .aboutus_page .source, .aboutus_page .publication_date {
  font-size: 0.8em; }
.newsandevents_page .description, .blog_page .description, .aboutus_page .description {
  padding-top: 4px; }
  .newsandevents_page .description p, .blog_page .description p, .aboutus_page .description p {
    font-size: 1.2em; }
.newsandevents_page .message, .blog_page .message, .aboutus_page .message {
  padding-top: 1em; }
.newsandevents_page .pub_date, .blog_page .pub_date, .aboutus_page .pub_date {
  color: #d27d34;
  font-size: 0.8em; }
.newsandevents_page #content .bubble .description p, .blog_page #content .bubble .description p, .aboutus_page #content .bubble .description p {
  font-size: 1em; }

.newsandevents_page #content h2, .blog_page #content h2 {
  margin: 0;
  padding: 0.6em 0 0.2em; }

.location_page #content .link {
  font-size: 0.9em; }
  .location_page #content .link a {
    color: #d27d34; }
.location_page #main_pane #content img {
  float: left;
  max-width: 100%; }
.location_page #directionsToSchool {
  color: #d27d34;
  font-size: 0.9em;
  margin: 12px 0; }
  .location_page #directionsToSchool label, .location_page #directionsToSchool input, .location_page #directionsToSchool button {
    float: left;
    margin: 7px 0; }
  .location_page #directionsToSchool label {
    text-transform: capitalize; }
  .location_page #directionsToSchool input {
    width: 98%;
    color: #d27d34;
    height: 22px;
    padding: 2px; }
  .location_page #directionsToSchool button {
    font-size: 0.8em; }

.aboutus_page #main_pane {
  width: 485px; }
  .aboutus_page #main_pane #content img {
    float: left;
    width: 200px; }
  .aboutus_page #main_pane #content .testimonial li {
    position: relative; }
  .aboutus_page #main_pane #content .testimonial .bubble {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 5px #444444;
    -webkit-box-shadow: 2px 2px 5px #444444;
    box-shadow: 2px 2px 5px #444444;
    border: 2px solid #d27d34;
    padding: 20px;
    margin-bottom: 60px;
    margin-right: 20px;
    font-size: 0.9em; }
  .aboutus_page #main_pane #content .testimonial .corner-border {
    /*border-color: $gold transparent transparent $gold;
    border-style: solid;
    border-width: 20px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -20px;
    left: 100px;
    background-color: $white;*/ }
  .aboutus_page #main_pane #content .testimonial .corner {
    background-color: transparent;
    background-image: url("../img/bubble_point.png");
    background-repeat: no-repeat;
    width: 60px;
    height: 38px;
    position: absolute;
    left: 50px;
    bottom: -38px;
    /*border-color: white transparent transparent white;
    border-style: solid;
    border-width: 20px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -15px;
    left: 102px;*/ }
  .aboutus_page #main_pane #content .testimonial .link {
    display: none; }
  .aboutus_page #main_pane #content .testimonial .footer {
    color: #d27d34;
    max-width: 300px;
    float: right;
    font-size: 1em; }
.aboutus_page .message {
  font-style: oblique;
  font-size: 0.8em; }
  .aboutus_page .message a {
    color: #d27d34; }

.contactus_page #left_bar, .registration_page #left_bar {
  display: none; }
.contactus_page #main_pane, .registration_page #main_pane {
  width: 708px; }
  .contactus_page #main_pane .divider, .registration_page #main_pane .divider {
    height: 1px;
    background-color: #d27d34;
    margin: 10px 0 30px; }
.contactus_page form p, .registration_page form p {
  display: inline; }
.contactus_page .fieldWrapper, .registration_page .fieldWrapper {
  font-size: 0.8em;
  width: 354px; }
.contactus_page label, .registration_page label {
  display: block;
  float: left;
  padding-top: 7px;
  text-transform: capitalize; }
.contactus_page label:after, .registration_page label:after {
  content: ":"; }
.contactus_page label.nolabel, .registration_page label.nolabel {
  color: white; }
.contactus_page label.required:before, .registration_page label.required:before {
  content: '* ';
  color: red; }
.contactus_page input, .registration_page input {
  width: 220px;
  margin-right: 10px;
  height: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
.contactus_page select, .registration_page select {
  width: 220px;
  font-size: 16px; }
.contactus_page .legend, .registration_page .legend {
  font-size: 0.8em;
  font-style: oblique;
  font-weight: bold;
  text-transform: capitalize;
  padding-top: 16px; }
  .contactus_page .legend:before, .registration_page .legend:before {
    content: '* ';
    color: red; }
.contactus_page .notice, .registration_page .notice {
  padding-top: 30px;
  font-size: 0.8em;
  font-style: oblique;
  font-weight: bold; }
.contactus_page button, .registration_page button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: right;
  margin-top: 10px;
  width: 140px;
  height: 20px;
  border: none;
  font-size: 0.8em;
  color: white;
  background-color: #d27d34;
  text-transform: capitalize; }
.contactus_page #right_bar, .registration_page #right_bar {
  width: 204px; }

.contactus_page .legend {
  margin-bottom: 20px; }
.contactus_page #contact_message {
  width: 708px; }
  .contactus_page #contact_message textarea {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 200px;
    width: 594px; }
.contactus_page .form_block {
  float: left; }
.contactus_page .fieldWrapper {
  margin-bottom: 20px; }
.contactus_page label {
  width: 120px; }
.contactus_page #contact_info {
  padding-top: 30px; }

.registration_page .legend {
  padding-top: 50px; }
.registration_page .fieldWrapper {
  display: inline;
  float: left;
  margin-bottom: 30px; }
.registration_page .fieldWrapper:nth-child(6) {
  display: block;
  float: none; }
.registration_page .fieldWrapper:nth-child(12) {
  display: block;
  float: none; }
.registration_page .fieldWrapper:nth-child(13) {
  display: block;
  float: none; }
.registration_page label {
  width: 100px; }
.registration_page button {
  margin-top: 30px; }

/**********************************************************************************************/
/***  Panel-Specific Styles                                                                 ***/
/**********************************************************************************************/
#news_panel .item, #blog_panel .item {
  padding: 10px; }
#news_panel .item:nth-child(even), #blog_panel .item:nth-child(even) {
  background-color: #d5d5d5; }

.testimonial .description {
  font-style: oblique; }
  .testimonial .description div > p:before, .testimonial .description div > p:after {
    content: '"'; }
  .testimonial .description p {
    font-size: 1em; }
.testimonial .footer {
  text-align: right;
  padding-top: 20px; }
  .testimonial .footer .link {
    padding-top: 70px; }

#policy_panel {
  font-size: 0.8em; }
